.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app__container {
  flex: 1 0 auto;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

@media (min-width:768px) {
  .app__container {
    width: 80%;
  }
}

@media (min-width:992px) {
  .app__container {
    width: 70%;
  }
}

@media (min-width:1200px) {
  .app__container {
    width: 60%;
  }
}