.header {
    background-color: rgb(35, 31, 32);
    color: white;
    height: 15rem;
    padding: 2rem;
    width: 100%;
}

.header__thumb {
    background-image: url('https://static.giantbomb.com/uploads/square_medium/15/154910/2582672-space_cat_icon.jpg');
    background-size: cover;
    display: inline-block;
    height: 7rem;
    margin-right: .5rem;
    width: 7rem;
}

.header__title {
    display: inline-block;
    font-size: 7rem;
    text-transform: uppercase;
}