.footer {
    background-color: rgb(35, 31, 32);
    color: white;
    font-size: 1.4rem;
    flex-shrink: 0;
    letter-spacing: .2rem;
    line-height: 1;
    margin: 0;
    padding: 5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.footer__container--copyright-message {
    margin-top: 1rem;
}