.search {
    margin: 1rem 0;
    padding: 1rem;
}

.search input {
    font-size: 1.8rem;
    margin: 1rem 0;
    padding: .2rem;
    width: 100%;
}

.search label {
    color: aliceblue;
    font-size: 2rem;
    margin-right: 2rem;
}