@font-face {
  src: url('https://fonts.gstatic.com/s/spacemono/v2/i7dPIFZifjKcF5UAWdDRYE98RWq7.woff2');
  font-family: 'Space Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('https://www.iliketowastemytime.com/sites/default/files/night-sky-hd-wallpaper.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%; 
}

#root {
  background-color: rgba(34, 34, 34, .65);
}

a {
  text-decoration: none;
}