.image-card {
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.15);
    padding: 1rem;
    transition: background-color 1s;
    width: 100%;
}


.image-card:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.image-card__thumb {
    background-size: cover;
    min-height: 20rem;
    width: 100%;
}

.image-card__content {
    color: aliceblue;
    font-size: 1.2rem;
    min-height: 10rem;
    max-height: 20rem;
    overflow: auto;
    padding: 1rem 0;
}


.image-card__content__title {
    margin: 1rem 0;
    text-transform: capitalize;
}

.image-card__content__date {
    font-size: 1.5rem;
}


@media(min-width:768px) {
    .image-card {
        width: 50%
    }
}

@media(min-width:992px) {
    .image-card {
        width: 33%
    }
}